/* Здесь вы напишете основную часть стилей страницы.

Будьте внимательны! Для корректной работы скриптов на этом сайте нужно, чтобы в HTML некоторые классы были названы особым образом:
✦ theme-dark — класс тёмной темы
✦ theme-light — класс светлой темы
✦ like-icon — для svg-иконки анимированного сердца
✦ card__like-button — для кнопки Like рядом с иконкой
✦ card__icon-button — для кнопки, оборачивающей иконку
✦ card__icon-button — для кнопки, оборачивающей иконку
✦ is-liked — для обозначения состояния лайкнутой иконки в виде сердца
✦ button__text — для обозначения текстового элемента внутри кнопки

Кроме этого, не меняйте HTML переключателя тем. Его разметка также гарантирует работу своего скрипта.

*/

.page {
  min-inline-size: 320px;
  min-block-size: 100dvb;
  font-family: var(--main-font, 'Inter-Variable', sans-serif);
  background-color: var(--background-color);
  color: var(--accent-color);
  background-image: var(--background-gradient);
  background-position: center;
  background-size: cover;
  background-attachment: fixed;
  padding-block: 100px 0;
}

.header {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-end;
  border: 2px solid currentColor;
  background-color: var(--background-color, #fff);
  font-family: var(--accent-font, 'PressStart2P-Regular', fantasy);
  text-transform: uppercase;
  margin-block-end: 100px;
}

.container {
  max-width: 700px;
  margin-inline: auto;
}

.header__logo {
  margin: clamp(7.5rem, 7.1479rem + 1.5023vw, 8.5rem) 0 20px 0;
  font-size: clamp(3.0625rem, 2.7104rem + 1.5023vw, 4.0625rem);
  text-decoration: none;
}

.header__title {
  font-size: clamp(0.875rem, 0.6769rem + 0.8451vw, 1.4375rem);
}

.header__theme-menu {
  margin-block: 25px;
}

.theme-menu__list {
  display: flex;
  flex-direction: column;
  gap: 7px;
  padding-inline-start: 14px;
}

.theme-menu__button {
  position: relative;
  border: none;
  text-transform: inherit;
  background-color: transparent;
  transition: opacity 0.3s;
}

.theme-menu__button:hover {
  opacity: 0.6;
}

.theme-menu__button::after {
  content: '';
  display: block;
  margin-block-start: 2px;
  opacity: 0.6;
  background-color: currentColor;
  transition: transform 0.3s ease;
  transform: scaleX(0);
  transform-origin: left;
  block-size: 2px;
}

.theme-menu__button:focus-visible {
  opacity: 0.6;
}

.theme-menu__button:focus-visible::after {
  transform: scaleX(1);
}

.theme-menu__button:disabled {
  opacity: 0.6;
  pointer-events: none;
}

.theme-menu__button:disabled::before {
  content: '▶';
  position: absolute;
  animation: arrow 0.5s ease-in-out infinite alternate;
  inset-inline-start: -20px;
}

.main {
  display: flex;
  flex-direction: column;
  gap: 50px;
  font-size: 18px;
}

.main__list {
  display: flex;
  flex-direction: column;
  gap: 50px;
}

.card {
  display: flex;
  flex-direction: column;
  gap: 2px;
  background-color: var(--background-color);
  border: 2px solid var(--accent-color);
}

.card__title {
  padding-block-start: 5px;
  padding-block-end: 4px;
  padding-inline-start: 10px;
  padding-inline-end: 24px;
  font-size: 18px;
  line-height: 22px;
  font-variation-settings: "wght" var(--font_weight_title);
  background-color: var(--background-color);
}

.card__image-container {
  position: relative;
}

.card__caption {
  position: absolute;
  z-index: 1;
  right: 25px;
  top: 25px;
  font-size: 14px;
  line-height: 14px;
  font-family: var(--accent-font, 'PressStart2P-Regular', fantasy);
  color: var(--accent-color);
  mix-blend-mode: hard-light;
  opacity: 0.5;
  text-shadow:
    1px 0px var(--background-color),
    0px 1px var(--background-color),
    1px 0px var(--background-color),
    0px -1px var(--background-color);
}

.card__image {
  color: var(--accent-color);
  background-color: var(--background-color);
  display: block;
  inline-size: 100%;
  aspect-ratio: 1 / 1;
  object-fit: cover;
  border: 2px solid black;
  border-left-width: 0px;
  border-right-width: 0px;
}

.filter-1 {
  filter: saturate(200%);
  -webkit-filter: saturate(200%);
  -moz-filter: saturate(200%);
}

.filter-2 {
  filter: grayscale(15%) brightness(123%) hue-rotate(18deg) saturate(118%) contrast(122%);
  -webkit-filter: grayscale(15%) brightness(123%) hue-rotate(18deg) saturate(118%) contrast(122%);
  -moz-filter: grayscale(15%) brightness(123%) hue-rotate(18deg) saturate(118%) contrast(122%);
}

.filter-3 {
  filter: brightness(105%) saturate(189%);
  -webkit-filter: brightness(105%) saturate(189%);
  -moz-filter: brightness(105%) saturate(189%);
}

.filter-4 {
  filter: saturate(170%) contrast(150%);
  -webkit-filter: saturate(170%) contrast(150%);
  -moz-filter: saturate(170%) contrast(150%);
}

.filter-5 {
  filter: grayscale(100%);
  -webkit-filter: grayscale(100%);
  -moz-filter: grayscale(100%);
}

.filter-6 {
  filter: brightness(111%) contrast(136%);
  -webkit-filter: brightness(111%) contrast(136%);
  -moz-filter: brightness(111%) contrast(136%);
}

.filter-7 {
  filter: sepia(50%) saturate(150%);
  -webkit-filter: sepia(50%) saturate(150%);
  -moz-filter: sepia(50%) saturate(150%);
}

.filter-8 {
  filter: hue-rotate(-70deg) invert(25%);
  -webkit-filter: hue-rotate(-70deg) invert(25%);
  -moz-filter: hue-rotate(-70deg) invert(25%);
}

.card__content {
  display: flex;
  flex-direction: column;
  gap: 25px;
  padding: 25px;
  background-color: var(--background-color);
}

.card__text {
  display: flex;
  flex-direction: column;
  gap: 27px;
}

.card__button {
  display: flex;
  height: 38px;
  justify-content: flex-end;
  gap: 4px;
}

.card__icon-button {
  cursor: pointer;
  background-color: transparent;
  padding: 0;
  border: 2px solid transparent;
  transition: border-color 0.3s ease;
}

.contour {
  transition: fill 0.3s linear 0.06s;
}

.main-body {
  transition: fill 0.3s linear;
}

.core {
  transition: fill 0.3s linear 0.03s;
}

.button {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  border: 2px solid var(--accent-color);
  background: var(--background-color);
  transition: box-shadow 0.3s ease;
}

.card__like-button {
  min-width: 130px;
  background-color: var(--background-color);
  padding: 0;
}

.button::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: var(--button-hover-color);
  top: 0;
  left: 0;
  transform: scaleX(0);
  transform-origin: left;
  transition: transform 0.5s ease-in-out;
  mix-blend-mode: difference;
}

.button:focus {
  outline: none;
}

.button:focus-visible {
  box-shadow: 2px 2px 0 currentColor;
}

.button:hover::before {
  transform: scaleX(1);
}

.footer {
  display: flex;
  align-items: center;
  justify-content: center;
}

.save__button {
  gap: 8px;
  margin: 50px auto clamp(6.375rem, 6.309rem + 0.2817vw, 6.5625rem);
  padding: 15px 20px;
  overflow: auto;
  background-color: var(--background-color);
}

.floppy-icon {
  width: 21px;
  height: 21px;
  color: var(--accent-color);
  mix-blend-mode: difference;
}

.dialog {
  background-color: var(--background-color);
  border: 2px solid var(--accent-color);
  padding: 30px;
  max-width: clamp(21.3125rem, 20.5643rem + 3.1925vw, 23.4375rem);
}

.dialog::backdrop {
  background-color: rgb(0 0 0 / 0.75);
}

.dialog__heading {
  display: flex;
  margin-bottom: 30px;
  color: var(--accent-color);
  gap: 20px;
}

.floppy-icon__dialog {
  max-width: 39px;
}

.dialog__text {
  text-transform: uppercase;
  font-size: 14px;
  font-family: var(--accent-font, 'PressStart2P-Regular', fantasy);
  line-height: 150%;
}

.dialog__button {
  width: 100%;
  height: 38px;
}

@media (width >= 375px) {
  .save-button {
    height: 500px;
  }

  .floppy-icon {
    width: 28px;
    height: 28px;
  }
}